:root {
    color: #fff;
    background-color: black;
}

.home {
    color: #fff;
    background-color: black;
    text-align: center;
}

.home h1 {
    padding-top: 100px;
}

.home-button {
    height: 50px;
    width: 175px;
    margin: 75px;
}